<div class="main-page">
  <h1 class="page-title">Поиск картинок</h1>
  
  <div class="filter-container">
    <div class="search-input">
      <input 
        type="text" 
        class="form-control custom-input"
        placeholder="Поиск по названию..."
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
      >
    </div>
    
    <div class="tag-filter">
      <select 
        class="form-select custom-input"
        [(ngModel)]="selectedTag"
        (change)="onTagChange()"
      >
        <option value="">Все теги</option>
        <option *ngFor="let tag of allTags" [value]="tag">
          {{ tag }}
        </option>
      </select>
    </div>
  </div>
  
  <div *ngIf="filteredCats.length > 0" class="cat-grid">
    <app-cat-card
      *ngFor="let cat of filteredCats"
      [cat]="cat"
      (toggleFavorite)="onToggleFavorite($event)"
      (selectAvatar)="onSelectAvatar(cat.imageUrl)"
    ></app-cat-card>
  </div>
  
  <div *ngIf="filteredCats.length === 0" class="empty-state">
    <div class="empty-state-icon">😿</div>
    <h3>Котики не найдены</h3>
    <p>Попробуйте изменить параметры поиска</p>
  </div>

  <app-auth-modal 
  [isVisible]="showAuthModal" 
  (closeModal)="showAuthModal = false"
></app-auth-modal>
</div>
